<!doctype html>
<html lang="en">

{% include presentation_head.html %}

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

        {% for page in site.pages %}
          {% if page.type == 'presentation' | sort: 'heading' %}

          <section>
            {{page.content}}
          </section>
          {% endif %}
        {% endfor %}
			</div>
		</div>
		{% include presentation_footer.html %}
	</body>
</html>
